@font-face {
    font-family: 'Trajan_Bold'; 
    src: url('fonts/Trajan Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
@font-face {
    font-family: 'Trajan_Regular'; 
    src: url('fonts/Trajan Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;}  
@font-face {
    font-family: 'News_Gothic_Bold'; 
    src: url('fonts/News Gothic Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
body {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
    margin: 0;
}

#header, #header2 { 
    font-family: 'Trajan_Bold', sans-serif;
    color: white; 
    font-size: 50px;
    text-align: center;    
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays above other content */
}
#header2 p {
    font-size: 15px;
    margin-top: 0px;
}
h1 {
    font-family: 'Trajan_Bold', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: -5px;
    
}
#body { 
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'News_Gothic_Bold', sans-serif; 
    color: #FFE81F; 
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
footer {
    font-family: 'Trajan_Regular', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 15px;
    justify-content: end;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    bottom: 0;
} 
.flex-container {
    display: flex;
    padding-top: 25px;    
    overflow-x: auto;

}
.flex-container .flex-item:first-child {
    margin-left: auto;
}
.flex-container .flex-item:last-child {
    margin-right: auto;
}
.flex-item img {
    max-width: 250px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease
}

.flex-item img:hover {
    transform: scale(1.1);
}

.flex-item {
    max-width: 250px;
    padding: 10px;
}
p {
    font-family: 'Trajan_Regular', sans-serif; 
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
     
}

.fkimage img, .recimage img, .hcimage img, .tsecimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    padding: 10px
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}
a {
    color: #ffffff
}
a:hover p {
    font-family: 'Trajan_Bold', sans-serif;
    margin-top: -1px !important;
}
button {
    margin-top: -20px;
    color: white; 
    font-size:20px;
    text-align: center;    
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px;
  }