@font-face {
    font-family: 'Trajan_Bold'; 
    src: url('fonts/Trajan Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
@font-face {
    font-family: 'Trajan_Regular'; 
    src: url('fonts/Trajan Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
@font-face {
    font-family: 'Inter_Bold'; 
    src: url('fonts/Inter Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
body {
    margin: 0;
    background-color: #262626;
}
#header { 
    font-family: 'Trajan_Bold', sans-serif;
    color: white; 
    font-size:40px;
    text-align: center;    
    background-color: #1A1A1A;
    padding: 10px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays above other content */
}
#header2 { 
    font-family: 'Trajan_Bold', sans-serif;
    color: white; 
    font-size:40px;
    text-align: center;    
    background-color: #1A1A1A;
    padding: 10px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header stays above other content */
}
#header2 p {
    font-size: 15px;
    margin-top: 0px;
}
h1 {
    font-family: 'Trajan_Bold', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: -5px;
    
}
#body { 
    font-family: 'Trajan_Regular', sans-serif; 
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
footer {
    font-family: 'Trajan_Regular', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #1A1A1A;
    padding: 10px;
    margin-top: 15px;
    justify-content: end;
} 
.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;    
    overflow-x: auto;
}
.flex-item img {
    max-width: 300px;
    margin: auto
}
.flex-item {
    max-width: 300px;
    padding: 10px;
    margin: auto
}
p {
    font-family: 'Trajan_Regular', sans-serif; 
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
     
}
.hcimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 10px
}
.fkimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    padding: 10px
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  a {
    color: #ffffff
  }