@font-face {
    font-family: 'Buahaus_Demi'; 
    src: url('fonts/Bauhaus Demi.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
@font-face {
    font-family: 'Inter_Regular'; 
    src: url('fonts/Inter Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
@font-face {
    font-family: 'Inter_Bold'; 
    src: url('fonts/Inter Bold.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;} 
body {
    margin: 0;
}
#header { 
    font-family: 'Buahaus_Demi', sans-serif;
    color: white; 
    font-size:40px;
    text-align: center;    
    background-color: #1A1A1A;
    margin-top: -25px;
    padding: 10px;

}
#body { 
    font-family: 'Inter_Regular', sans-serif; 
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
footer {
    font-family: 'Inter_Bold', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #1A1A1A;
    padding: 10px;
    margin-top: 15px;
}
body {
    background-color: #262626;
}